# wandb==0.15.5
tinydb
pytest
pyyaml
numpy
numba
ase
pymatgen
tqdm
# tensorflow==2.12
matplotlib
scikit-learn
scikit-image
sympy
python-dotenv
pydantic==2.9.2
mp-api==0.42.2
e3nn==0.5.5
sevenn==0.10.1
wandb
pylint
black
